<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Model Views and Controllers</h1>

    <form action="/form-submit" method="post">
        Name : <input type="text" name="name" placeholder="Enter name">
        Email : <input type="email" name="email" placeholder="Enter email">
        Age : <input type="number" name="age" placeholder="Enter age">
        Phone Number : <input type="number" name="phonenumber" placeholder="Enter phone number">
        Password : <input type="password" name="password" placeholder="Enter password">
        <input type="submit" value="Save">
    </form>
</body>
</html>